* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


.container {
    /* background-color: rgb(47, 143, 157); */
    position:absolute;
    margin: 0 auto;
    width: 1400px;
    left:40px;
}
.logo  a{
    position:fixed;
    text-decoration: none;
    background-color: rgba(47, 143, 157,0.8);
    padding-right: 1200px;
    padding-left: 50px;
    font-size: 45px;
    top:0px;
    left: 40px;
    border-radius: 10px;
}

.first {
    background-color: rgb(47, 143, 157);
    ;
    /* width: 75%;
    float: left; */
}

.seconrd {
    background-color: azure;
    /* width: 25%;
    float: left; */
}

.third {
    background-color: violet;
    top: 1000px;
}

.clearfix::after {
    counter-reset: "";
    display: table;
    clear: both;
}

.trangchu {
    position:fixed;
    top: 15px;
    left: 500px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.anime {
    position: fixed;
    top: 15px;
    left: 615px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.manga {
    position: fixed;
    top: 15px;
    left: 705px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.lightnovel {
    position: fixed;
    top: 15px;
    left: 795px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.visualnovel {
    position: fixed;
    top: 15px;
    left: 915px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.gallery {
    position: fixed;
    top: 15px;
    left: 1060px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.aboutus {
    position: fixed;
    top: 15px;
    left: 1155px;
    text-decoration: none;
    color: rgb(47, 143, 157);
    font-size: 20px;
}

.background img{
}

.trangchu a,
.anime a,
.manga a,
.visualnovel a,
.lightnovel a,
.gallery a,
.aboutus a {
    text-decoration: none;
}