*{
    color: #2F8F9D;
    /* rgb(47, 143, 157) */
    color: #3BACB6;
    /* rgb(59, 172, 182) */
    color: #82DBD8;
    /* rgb(130, 219, 216) */
    color: #B3E8E5;
    /* rgb(179, 232, 229) */
}