*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------------------------------------------- */
/* --------------------------------HEADER-------------------------------------- */
/* ---------------------------------------------------------------------------- */


.top-bar {
    border-bottom: 0.5px solid rgba(119, 115, 115,0.5) ;
    padding: 2px;
}
.time-box,
.top-icon,
.user-box {
    display: inline-block;
}

.fa-clock,
#current-time {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
}

#current-time {
    border-right: 1.5px solid rgb(140, 134, 134);
}

.fa-clock {
    margin-left: 20px;;
}

.fa-twitter,
.fa-facebook,
.fa-discord,
.fa-youtube {
    color: white;
    margin-left: 10px;
}

.log-in,
.sign-up {
    position: absolute;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
}

.log-in {
    border-left: 1.5px solid rgb(152, 144, 144);
    padding-left: 20px;
    right: 110px;
    top: 2px;
}

.sign-up {
    right: 30px;
    top: 2px;
}


body {
    background-image: linear-gradient( rgba(0, 0, 0,0.6) ,rgba(255,255,255,0.6)), url("../image/background.jpg");
    /* rgba(47, 143, 157,0.6) 55%,rgba(179, 232, 229,0.8) */
    /* to right top , 135deg */
    /* width: auto; */
     background-size: cover;
    background-position: center; 
     /* height: 100vh;  */
    background-attachment: fixed;  
}



.logo {
    width: 170px;
    border-radius: 20%;
    float: left;
    margin-left: 60px;
    margin-top: -30.5px;
}



.main-nav {
    float: right;
    list-style: none;
    margin-right: 280px;
    margin-top: 20px;
}

.main-nav li{
    display: inline-block;
    margin-right:20px;
}

.main-nav li::after{
    content: " ";
    display: block;
    width: 100px;
    height: 4px;
    color: blue;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    border-right: 2px solid white ;
    padding-right: 30px;
}


/* .main-nav li a:hover,
.main-nav li a:active {

} */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.search-box {
    float: right;
    list-style: none;
    margin-right: 100px;
    margin-top: -20px;
}
/* <div class="clearfix"></div>  */

/* ================================================================================= */



.row h2,p {
   
    display: inline-block;
    padding-right: 20px;
    color:aqua;
}

.row {
 width: 1140px;
 margin: 0 auto;
}

 h2 {
    letter-spacing: 3px;
    font-weight: 1000;
    font-size: 180%;
    
}

h2::after {
    content: " ";
    display: block;
    width: 150;
    height: 3px;
    background-color: black;
}

.picture-anime {
    position: relative;
}

.picture-anime img {
    width: 95%;
    border-radius: 5%;
    border: 1.5px solid rgb(190, 184, 184);
    box-shadow: 0px 3px 3px 3px rgb(97, 91, 91);
}

.picture-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,100%);
    opacity: 0;
}

.picture-anime:hover img,
.picture-anime:active img {
    filter:brightness(60%) blur(2px) ;
    transition: all .5s;
}

.picture-anime:hover .picture-title,
.picture-anime:active .picture-title{
    transform: translate(-50%,-50%);
    opacity: 1;
    transition: all .5s;
}